---
// トップページのAstroコンポーネント
// ここで必要なコンポーネントをインポートする
import NewsItem from '../components/NewsItem.astro';
import Layout from '../layouts/Layout.astro';

// ここでニュースデータを管理する
const newsList = [
	{ date: '2026-02-25', title: '2025年度第一回 蛋白質科学若手研究者交流会を開催しました', link: 'https://fukuda-akiya.github.io/pssjy_web/' },
	{ date: '2026-03-12', title: '第六回 蛋白質科学若手の会 研究交流会を6/17に開催します' },
];
---

<main>
	<section class="hero">
    	<h1>蛋白質科学 若手の会</h1>
    </section>
</main>

<Layout title="ホーム">
	<h1>最新ニュース</h1>
	
	<section class='news-container'>
		{newsList.map((news) => (
			<NewsItem date={news.date} title={news.title} link={news.link} />
		))}
	</section>
</Layout>
